* {
  box-sizing: border-box;
  color: #787878;
}

body {
  background-color: #1B2473;
}

p {
  margin: 0;
}

input::placeholder {
  color: #CCC;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}