.form {
  max-width: 600px;
  margin: 82px auto 0;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  padding: 26px 46px 26px 34px;
  overflow: hidden;

  // поменять на другую форму
  &__btn-change-form {
    position: absolute;
    top: 11px;
    right: 11px;
    color: #1A226B;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-decoration: none;
  }

  // заголовок
  &__title {
    display: flex;
    justify-content: center;
    margin-bottom: 17px;

    color: #787878;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
  }

  // согласен с правилами
  &__license {
    text-decoration: underline;
  }

  // хаб для полей
  &__field {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &__field label {
    margin-left: 16px;
    // color: #CB2424;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }

  &__row {
    display: flex;
    flex-direction: row;
    gap: 2px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__email,
  &__password {
    height: 49px;
    border-radius: 10px;
    // border: 2px solid #CB2424;
    border: 2px solid #787878;
    background: #FFF;

    color: #787878;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;

    padding-left: 15px;
  }

  // контейнер кнопки отправки формы
  &__footer {
    text-align: center;
  }

  &__btn-main {
    width: 180px;
    height: 52px;
    border-radius: 10px;
    border: none;
    background: #1A226B;
    cursor: pointer;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }

  &__agree {
    margin-bottom: 56px;
  }

  &__checkbox {
    appearance: none;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin: 0 10px 0 0;
    border-radius: 7px;
    border: 2px solid #787878;
    background: #FFF;
  }

  &__checkbox:checked {
    background: url('../img/checked.svg') no-repeat;
    background-position: center;
  }
}

.vertical {
  align-items: center;
}

.star {
  margin-top: 4px;
}

.disable {
  display: none;
}

.err {
  color: #cb2424;
}

.form__password-err,
.form__email-err,
.form__checkbox-err {
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  height: 16px;
}

.border-err {
  border-color: #cb2424;
  color: #cb2424;
  appearance: none;
}

.success {
  background-color: #00ff00;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hidden {
  display: none;
}